html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

div {
  color: white;
  text-decoration: none;
  font-family: 'Andale Mono, monospace';
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
  
}

div.windows {
  padding: 10px;
}
div.windowsContent {
  padding: 5px;
  background-color: #651e1ed0;
}

ul.burgerMenu > li{
  display: inline-block;
  vertical-align: middle;
}

div.nav-bar {
  text-align: left;
}

ul.nav-bar {
  background-color: #8e2929;
}

ul.nav-bar > li {
  font-family: 'Andale Mono, monospace';
  font-weight: 700;
  font-size: large;
  display: inline-block;
  padding: 5px 10px;
}
ul.nav-bar > li:hover {
  background-color: #8e2929;
}
ul.nav-bar > li > a {
  text-decoration: none;
}

/*
ul.records > li {
  display: inline-block;
  padding: 10px 20px;
}
*/

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


